/* services */
.services {
	padding: 5% 0 7%;
	background: #556B2F;
}
.services h3{
	color: #fff;
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
}
.services p{
	font-size: 1.4em;
	padding: 0em 0;
	color: #E4E4E4;
	line-height: 1.5em;
	text-align:center;
	margin-bottom: 6%;
}
.wrap {
	width: 80%;
	margin: 0px auto;
}
/*  GRID OF THREE   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1;
}
.col_1_of_3{
	display: block;
	float:left;
	/*margin: 1% 3% 0% 0%;*/
}
#services > div > div:nth-child(5) {
	margin-right: 0;
}
.col_1_of_3:first-child { margin-left: 0; }
#services > div > div> img {
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#services > div > div> img:hover {
	opacity: 0.6;
}
.span_1_of_3 {
	/*width: 30.6%;*/
	text-align: center;
	margin-top: 1%;
	padding-bottom: 1%;
}
.span_1_of_3 h4 a {
	font-family: 'Noto Sans', sans-serif;
	color: #E4E4E4;
	font-size: 1.6em;
	font-weight: 400;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.span_1_of_3 h4 a:hover{
	color:#F8BC3A;
}
.span_1_of_3  p  {
	font-family: 'Noto Sans', sans-serif;
	font-size:1em;
	padding:0.5em 0;
	color: #E4E4E4;
	line-height: 1.9em;
	font-weight: 100;
	font-style: normal;
}
.span_1_of_3 p a {
	padding: 13px 20px;
	color: #E4E4E4;
	font-size: 0.8755em;
	border: 2px solid #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.span_1_of_3 p a:hover {
	color: #F8BC3A;
	border: 2px solid #F8BC3A;
}